# 忽略 PyTorch 模型权重
*.pth
*.ckpt
*.pptx
*.npy

__pycache__/
*.py[cod]

# 忽略存文件夹
mytools/
**/weights/
**/checkpoints/
**/mytools/
android/script
/remotion-midterm
/论文
/中期答辩
scripts/presentation
/visualizations

# 忽略数据文件夹 (如果之前没加)
data/
.idea/

# 忽略生成的中间特征（体积大，可再生）
processed/
work_dir/

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.html
*.log
.superpowers
