# 忽略 PyTorch 模型权重
*.pt
*.pth
*.ckpt
*.pptx

# 忽略存文件夹
mytools/
checkpoints/
teacher_logits_2000/
weights/
**/weights/
**/teacher_logits_2000/
**/checkpoints/
**/mytools/

# 忽略数据文件夹 (如果之前没加)
data/
.idea/
